

<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-info">This Page is not exist </h1>
        <hr />
        <a class="btn btn-info" asp-controller="Movies" asp-action="Index">Home page</a>
    </div>
</div>
