<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed Successfully</h2>
        <p>You can check all your orders in the orders section of your profile </p>
        <p>Thank You</p>
    </div>
</div>

